<%= turbo_frame_tag 'modal' %>
<section id="<%= dom_id @chapter %>" class="border-2 w-9/12 mx-auto flex h-48 rounded-lg shadow-lg p-2 my-20">
  <div class="w-48">
    <%= image_tag("Upload.png", class: "object-fit h-full w-full") %>
  </div>

  <div class="w-full p-5">
    <p class="text-3xl font-bold text-chapterStrong">
      <%= @chapter.name %>
      <i class="fa-solid fa-list-check my-5"></i>
    </p>

    <p class="my-2 font-semibold text-chapterStrong">
      <%= @chapter.description %>
    </p>

    <p class="my-2 font-semibold text-chapterStrong">
      <%= @chapter.user.email %>
    </p>
  </div>

  <div class="flex flex-col justify-between p-2">
    <%= button_to edit_chapter_path, id:"edit_chapter_icon", method: :get, data: {turbo_frame: 'modal'} do %>
      <i class="fa-solid fa-pen text-editIcon"></i>
    <% end %>
    <%= button_to chapter_path(@chapter), id:"remove_chapter_icon", method: :delete,
                  form: {data:{turbo_confirm:"Delete?"}} do %>
      <i class="fa-solid fa-trash-can text-removeIcon"></i>
    <% end %>
  </div>
</section>